/* Border Radius for website for quick changes to border radius, also blur variable*/
:root{
  --border-radius: 5px 5px 5px 5px;
  --button-border-radius: 20px 5px 20px 5px;
  --blur: blur(2px);
}

/* Colour Palette for website, essential for quick changes to colours*/
:root {
    --bg-dark: hsl(7 100% 2%);
    --bg: hsl(17 100% 4.5%);
    --bg-light: hsl(27 100% 7%);
    --text: hsl(29 100% 90%);
    --text-muted: hsl(30 63% 64%);
    --highlight: hsl(35 92% 29%);
    --border: hsl(35 100% 17%);
    --border-muted: hsl(30 100% 11%); 
    --primary: hsl(30 68% 64%);
    --secondary: hsl(207 84% 70%);
    --danger: hsl(8 58% 66%);
    --warning: hsl(51 41% 48%);
    --success: hsl(150 37% 53%);
    --info: hsl(217 66% 68%);
}

/* reset default margins and padding that create “extra boxes” */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
    font-size: 16px;
}
body {
    min-height: 100vh;
    min-height: 100dvh; /*for mobile viewport height*/
    background-color: var(--bg-dark);
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* header, main content, footer */
}

/* Main Content Area using grid*/
main {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 auto 5rem auto;
}

.profile-pic {
    width: 100%;
    max-width: 30rem
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 0rem;
    color: var(--primary);
    display: flex;
    justify-content: center;
    text-align: center;
}
h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: var(--primary);
    text-align: center;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin:0 Auto 0.5rem Auto;
    text-align: center;
    max-width: 500px;
    padding: 0 1rem 0 1rem;   
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15rem, 100%);
    z-index: 10;
    background-color: var(--bg);
    border-left: 1px solid var(--highlight);
    transition: right 300ms ease-out;
    }


nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav a {
    display: flex;
    text-decoration: none;
    color: var(--text);
    padding: 1rem 2em;
    width: 100%;
    }
nav li:last-child {
    background-color: var(--secondary);
    }

nav a.active-link {
    border-left: var(--text) 3px solid;
    z-index: 11;
}
nav.show{
    right: 0;
}
nav.show ~ #overlay {
    display: block;
}
.openSidebar, .closeSidebar {
  background: none;
  border: none;
  cursor: pointer;
}
.sidebar-btn-container{
    display: flex;
    justify-content: flex-end; 
    z-index: 9;  
}
.openSidebar img, .closeSidebar img {
    height: 3rem;
}
#overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 8;
    display: none;
    backdrop-filter: var(--blur);
}

header {
    display: flex;
    justify-content: space-between;
}


.homeLogo-container img {
    height: 5rem;
}

.box-container {
    margin: 0 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 1fr); /* equal height rows */
    gap: 1rem;
    justify-content: center;
}

.box-link {
    text-decoration: none;
    color: var(--highlight);
}

.box {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    height: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
    transition: background-color 0.3s ease; /* smooth background color transition */
}
.box:hover {
    background-color: var(--highlight);
}
.box:active {
    background-color: var(--success);
}

.box p {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.button {
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--bg-dark);
    padding: 0.75rem 1.5rem;
    border-radius: var(--button-border-radius);
    font-weight: bold;
    transition: background-color 0.3s ease; /* smooth background color transition */
    
}
button {
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--bg-dark);
    padding: 0.75rem 1.5rem;
    border-radius: var(--button-border-radius);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* smooth background color transition */
}

.button:hover, button:hover {
    background-color: var(--highlight);
}
.button:active, button:active {
    background-color: var(--success);
}
/* Contact Me page Section */
.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* Contact Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    margin: 0 1rem 0 1rem;;
}
label {
    display: block;
    font-size: 1.25rem;
    color: var(--text);
    width: 80%;
    text-align: left;
}
input, textarea { /* styles for text input and textarea */
    width: 80%;
    padding: 0.5rem;
    border: 1px solid var(--border-muted);
    border-radius: var(--border-radius);
    background-color: white;
    color: black;
}
textarea {
    min-height: 500px;
}
.radio-group {
    
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: flex-start;
}
.radio-group label {
    width: auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}  
.contact-me p {
    margin-bottom: 2rem;
}

/* Hero Section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.hero h2 {
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 0rem;
    color: var(--primary);
    display: flex;
    justify-content: center;
    text-align: center;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
}

/* footer & Social Media Icons */
.github {
    width: 2rem;
    height: 2rem;
}
.linkedin{
    width: 2rem;
    height: 2rem;
    filter: invert(1) brightness(200%);  
}

footer { /* fixed footer kept outside grid layout, if content isn't long enough always sticks at bottom of screen*/
    
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid var(--border);
    color: var(--text-muted);
    background-color: var(--bg);
}

.socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
/* Dialog Styles - use of dialog found on youtube https://youtu.be/HgNDii20FG4?si=rEoq2jXuSmGZCznk */
#infoDialog {
    margin: auto;
    border-radius: var(--border-radius);
    padding: 2rem;
    background-color: var(--info);
    color: black;
    border: 1px solid var(--border);
}
#shortcutModal {
    margin: auto;
    border-radius: var(--border-radius);
    padding: 2rem;
    background-color: var(--info);
    color: black;
    border: 1px solid var(--border);
}
/* blur background of any modal/dialog */
dialog::backdrop {                           /* found on youtube https://youtu.be/HgNDii20FG4?si=rEoq2jXuSmGZCznk */
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: var(--blur);
}
/* Experience Section experience.html */ 
.experience-section {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    grid-template-areas: 
        "skills-list"
        "Previous-jobs"
        "education-section";  
}
.experience-section li {
    list-style: none;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}
.experience-section h2 {
    display: flex;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}
.experience-section h3 {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}
.skills-list {
    grid-area: skills-list;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
}
.Previous-jobs {
    grid-area: Previous-jobs;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
}
.education-section {
    grid-area: education-section;
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
}
.education-item {
    padding: 1.2rem 1.5rem;
    background: var(--bg-light);
    border-radius: var(--border-radius);
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.education-item h3 {
    margin: 0 0 0.3rem;
    font-size: 1.4rem;
    color: var(--text);
}

.education-item p {
    justify-content: left;
    margin: 0;
    color: var(--text-muted);
    font-size: 1.1rem;
    text-align: Left;
}

.experience-item {
    padding: 1.5rem 2rem;
    border-radius: 12px;
    background-color: var(--bg-light);
    color: var(--text);
}

.experience-item h3 {
    padding: 0;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    color: var(--text);
}

.experience-item h4 {
    margin-bottom: 0.8rem;
    font-size: 1.15rem;
    font-weight: 500;
    color: var(--text-muted);
}

.experience-item p {
    padding-left: 1rem;
    justify-content: left;
    text-align: left;
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    max-width: 100%;
}
/* about me page styles */
.about-me-section {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    grid-template-areas: 
        "What-I-do"
        "My-Interests"
        "Outside-of-Work"
        "Fun-Facts";  
}
.What-I-do {
    grid-area: What-I-do;
}
.My-Interests {
    grid-area: My-Interests;
}
.Outside-of-Work {
    grid-area: Outside-of-Work;
}
.about-me-section > div {
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
}
.about-me-section p {
    justify-content: left;
    text-align: left;
    margin: 0;
    color: var(--text);
    font-size: 1.1rem;
    padding-bottom: 1rem;
    max-width: 100%;
}
.about-me-section li {
    list-style: none;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

.card-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.card {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "Title"
        "Video"
        "Text";
}
.Title {
    grid-area: Title;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--primary);
}
.Video {
    grid-area: Video;
    
}
.Video iframe {
    width: 100%;
    height: 315px;
    border-radius: var(--border-radius);
}
.Text {
    grid-area: Text;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .box-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .hero {
        flex-direction: row-reverse;
    }
    .hero-text {
        text-align: left;
        align-items: flex-start;
        justify-items: flex-start;
        max-width: 30rem;
    }
    .hero-text p {
        text-align: left;
    }
    .hero-text .button {
        margin-left: 1rem;
    }
    .profile-pic {
        max-width: min(50%, 30rem);
    }
    .experience-section {
        grid-template-columns: 1.618fr 1fr; /* golden ratio for better aesthetics */
        grid-template-rows: auto auto;
        grid-template-areas: 
            "Previous-jobs skills-list"
            "education-section education-section";
    }
    .about-me-section {
        grid-template-columns: 1.618fr 1fr; /* golden ratio for better aesthetics */
        grid-template-rows: auto auto;
        grid-template-areas: 
            "What-I-do My-Interests"
            "Outside-of-Work Fun-Facts";
    }
}

/* Desktop Styles */
@media (min-width: 1280px) {
    .hero {
        margin-top: 1rem;
    }
    header {
        display: flex;
        justify-content: space-around; /* space around for better spacing on desktop, space between also considered */
        align-items: stretch;
    }  
    .homeLogo-container img {
        height: 7rem;
        margin: 1rem;
    } 
    nav {
        position: relative;
        right: 1rem;
        border-left: none;
        height: auto;
        width: auto;
        border: none;
        transition: none;
        display: flex;
        align-items: center;
    }
    nav ul {
        list-style: none;
        flex-direction: row;
        border: 1px solid var(--border);
        border-radius: var(--border-radius);
    }
    nav li{
        display: flex; /* fixes small gap */
    }
    nav a {
        transition: background-color 0.3s ease; /* smooth background color transition */
    }
    nav a.active-link {
        border-bottom: 2px solid var(--text);
        border-left: none;
    }
    nav a:hover {
        background-color: var(--highlight);
    }
    .openSidebar, .closeSidebar {
        display: none; /* hide menu buttons on desktop */
    }
    .box-container {
        grid-template-columns: repeat(4, minmax(0, 400px)); /* three columns max 400px each to avoid very wide boxes on large desktops*/
    }
    .experience-section, .about-me-section {
        max-width: 1600px;
        margin: 0 auto;
        width: 100%;
        padding: 0 1rem;
    }
}




/* debugging styles */
/* {
  outline: 1px dashed red;
}