:root{
  --border-radius: 20px 5px 20px 5px;
}

:root {
    --bg-dark: hsl(7 100% 2%);
    --bg: hsl(17 100% 4%);
    --bg-light: hsl(27 100% 7%);
    --text: hsl(29 100% 90%);
    --text-muted: hsl(30 63% 64%);
    --highlight: hsl(35 92% 29%);
    --border: hsl(35 100% 17%);
    --border-muted: hsl(30 100% 11%); 
    --primary: hsl(30 68% 64%);
    --secondary: hsl(207 84% 70%);
    --danger: hsl(8 58% 66%);
    --warning: hsl(51 41% 48%);
    --success: hsl(150 37% 53%);
    --info: hsl(217 66% 68%);
}

/* reset default margins and padding that create “extra boxes” */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", 'Segoe UI';
  font-weight: 400;
  font-style: normal;
}
html {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
    font-size: 16px;
}
body {
    min-height: 100vh;
    min-height: 100dvh; /*for mobile viewport height*/
    background-color: var(--bg-dark);
    position: relative;
    margin: 0;
    padding-bottom: 10rem; /* must match footer height */
}


main {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 auto 5rem auto;
}

.profile-pic {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 3rem;
    margin: 1rem;
    margin-bottom: 0rem;
    color: var(--primary);
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 2rem;
    margin: 0.5rem 0;
    color: var(--primary);
    text-align: center;
}

p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    text-align: center;
    max-width: 600px;
    padding: 0 1rem 0 1rem;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15rem, 100%);
    z-index: 10;
    background-color: var(--bg);
    border-left: 1px solid var(--highlight);
    transition: right 300ms ease-out;
    }
nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav a {
    display: flex;
    text-decoration: none;
    color: var(--text);
    padding: 1em 2em;
    width: 100%;
    }
nav a.accent-link {
    background-color: var(--secondary);
    }

nav a.active-link {
    border-left: var(--text) 3px solid;
    z-index: 11;
}
nav.show{
    right: 0;
}
nav.show ~ #overlay {
    display: block;
}
.openSidebar, .closeSidebar {
  background: none;
  border: none;
  cursor: pointer;
}
.sidebar-btn-container{
    display: flex;
    justify-content: flex-end; 
    z-index: 9;  
}
.openSidebar img, .closeSidebar img {
  height: 3rem;
}
#overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 8;
    display: none;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(0, 1fr);
    gap: 1rem;
    justify-content: center;
}
.box-link {
  text-decoration: none;
  color: var(--highlight);
}

.box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
  height: 100%;
  border-radius: var(--border-radius);
    border: 1px solid var(--border);
    border-top: var(--highlight) 1px solid;
}

.box p {
  font-size: 1rem;
  text-align: center;
  color: var(--text);
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.button {
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--bg-dark);
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    font-weight: bold;
}
button{
    text-decoration: none;
    background-color: var(--secondary);
    color: var(--bg-dark);
    padding: 0.75rem 1.5rem;
    border-radius: var(--border-radius);
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/* Contact Me Section */
.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
}
label {
    font-size: 1.25rem;
    color: var(--text);
    width: 80%;
    text-align: left;
}
input, textarea {
    width: 80%;
    padding: 0.5rem;
    border: 1px solid var(--border-muted);
    border-radius: var(--border-radius);
    background-color: white;
    color: black;
}
textarea {
    min-height: 500px;
}   
.contact-me p {
    margin-bottom: 2rem;
}

/* Hero Section */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 0.5rem;
}

/* footer & Social Media Icons */
.github {
    width: 2rem;
    height: 2rem;
}
.linkedin{
    width: 2rem;
    height: 2rem;
    filter: invert(1) brightness(200%);  
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid var(--highlight);
    color: var(--text-muted);
    background-color: var(--bg);
}

.socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
/* Tablet Styles */
@media (min-width: 768px) {
    .boxes {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .hero {
        flex-direction: row-reverse;
    }
    .hero-text {
        text-align: left;
        align-items: flex-start;
        justify-items: flex-start;
    }
    .hero-text p {
        text-align: left;
    }
    .hero-text .button {
        margin-left: 1rem;
    }
    .profile-pic {
        max-width: 30rem;
    }
}

/* Desktop Styles */
@media (min-width: 1280px) {
    nav {
    position: relative;
    right: 0;
    border-left: none;
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--highlight);
    transition: none;
    }
    nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    }
    nav .home-li {
    margin-right: auto;
    }
    /*removes small gap at bottom of nav */
    nav li{
        display: flex;
    }
    nav a {
    display: flex;
    text-decoration: none;
    }
    nav a.active-link {
    border-bottom: 2px solid var(--text);
    border-left: none;
    }
    nav a:hover {
    background-color: var(--highlight);
    }
    .openSidebar, .closeSidebar {
        display: none; /* hide menu buttons on desktop */
    }
    .boxes {
    grid-template-columns: repeat(4, minmax(0, 400px)); /* four columns max 400px each to avoid very wide boxes on large desktops*/
     margin: 0 auto;
    }
}




/* debugging styles */
/* {
  outline: 1px dashed red;
}