:root{
  --border-radius: 20px 0px 20px 0px;
}

:root {
    --bg-dark: hsl(7 100% 2%);
    --bg: hsl(17 100% 4%);
    --bg-light: hsl(27 100% 7%);
    --text: hsl(29 100% 90%);
    --text-muted: hsl(30 63% 64%);
    --highlight: hsl(35 92% 29%);
    --border: hsl(35 100% 17%);
    --border-muted: hsl(30 100% 11%); 
    --primary: hsl(30 68% 64%);
    --secondary: hsl(207 84% 70%);
    --danger: hsl(8 58% 66%);
    --warning: hsl(51 41% 48%);
    --success: hsl(150 37% 53%);
    --info: hsl(217 66% 68%);
}

/* reset default margins and padding that create “extra boxes” */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', sans-serif;
    color: var(--text);
    font-size: 16px;
}

body {
    min-height: 100vh;
    min-height: 100dvh; /*for mobile viewport height*/
    background-color: var(--bg-dark);
}

.profile-pic {
    width: 100%;
    max-width: 800px;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--primary);
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 2rem;
    margin: 1rem 0;
    color: var(--primary);
    display: flex;
    justify-content: center;
}

p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 600px;
}

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15rem, 100%);
    z-index: 10;
    background-color: var(--bg);
    border-left: 1px solid var(--highlight);
    transition: right 300ms ease-out;
    }
nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav a {
    display: flex;
    text-decoration: none;
    color: var(--text);
    padding: 1em 2em;
    width: 100%;
    }
nav a.accent-link {
    background-color: var(--secondary);
    }
nav a:hover {
    background-color: var(--highlight);
    }
nav a.active-link {
    border-left: 4px solid var(--text);
}
nav.show{
    right: 0;
}
.openSidebar, .closeSidebar {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.sidebar-btn-container{
    display: flex;
    justify-content: flex-end;   
}
.openSidebar img, .closeSidebar img {
  height: 3rem;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.box-link {
  text-decoration: none;
  color: var(--highlight);
}

.box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}

.box p {
  font-size: 0.75rem;
  text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
    .boxes {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }  
}

/* Desktop Styles */
@media (min-width: 1280px) {
    nav {
    position: relative;
    right: 0;
    border-left: none;
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--highlight);
    transition: none;
    }
    nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    }
    nav .home-li {
    margin-right: auto;
    }
    /*removes small gap at bottom of nav */
    nav li{
        display: flex;
    }
    nav a {
    display: flex;
    text-decoration: none;
    }
    nav a.active-link {
    border-bottom: 2px solid var(--text);
    border-left: none;
    }
    .openSidebar, .closeSidebar {
        display: none;
    }

}



/* debugging styles */
/* {
  outline: 1px dashed red;
}